body {
  font-family: Georgia, "Times New Roman",
        Times, serif }
p {
  font-size: 14px }

li {
  font-size: 14px }

a:link {
  color: blue }

a:visited {
  color: blue }


#projects p {
	font-size : 10px;
}


#projects table {
	border:20px; 
	}

#projects td{
	font-family: Arial; 
	font-size: 10pt;
	}

#content { margin: auto; width: 800px;}


#minitabs {
	margin: 0;
	padding: 0 0 20px 10px;
	border-bottom: 1px solid #000080;
	}

#minitabs li {
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	}
	
#minitabs a:link, #minitabs a:visited {
	float: left;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
	color: #000080;
	}

#minitabs a.active:link, #minitabs a.active:visited, #minitabs a:hover {
	border-bottom: 4px solid #000080;
	padding-bottom: 2px;
	background: #fff;
	color: #000080;
	}

#lmenu {
	margin: 0;
	float: left;
	width: 20%;
	height: 90%;
	}

#lmenu li {
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	}

#lmenu a:link, #lmenu a:visited {
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
	color: #000080;
	}

#belowmenu {
	clear:both;
}


